<div>
  <img
    class="repo-list-item__profile-picture"
    [src]="repo?.owner?.avatar_url"
    alt="profile picture"
  />
</div>
<div>
  <div class="repo-list-item__title">{{ repo?.name }}</div>
  <div class="repo-list-item__description">{{ repo?.description }}</div>
  <div class="repo-list-item__second-line-wrapper">
    <div class="badge--stars">Stars: {{ repo?.stargazers_count }}</div>
    <div class="badge--issues">Issues: {{ repo?.open_issues_count }}</div>
    <div class="repo-list-item__submitted-info">
      Submitted {{ repo?.created_at | date: 'short' }} by {{ repo?.owner?.login }}
    </div>
  </div>
</div>
