<div>
  <img
    class="repo-list-item__profile-picture"
    src="https://img.daisyui.com/images/profile/demo/1@94.webp"
    alt="profile picture"
  />
</div>
<div>
  <div class="repo-list-item__title">Titel Titel</div>
  <div class="repo-list-item__description">Repo Description</div>
  <div class="repo-list-item__second-line-wrapper">
    <div class="badge--stars">Stars: 300</div>
    <div class="badge--issues">Issues: 5</div>
    <div class="repo-list-item__submitted-info">Submitted X days ago by User</div>
  </div>
</div>
